%h1= t ".titulo"

%ul
  - @produtos.each do |produto|
    %li{:data=> {:id => produto.id }}
      = link_to produto.nome, produto
      = produto.preco
      %span= produto.descricao
      %p
        = link_to "excluir", produto, :method => :delete, :confirm => "deseja excluir ?", :remote => true


%br

= link_to 'New Produto', new_produto_path
